*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(img/itachi.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1{
  display: inline-block;
  position:relative;
  top:200px;
  left: 33%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
form{
  width: 500px;
  height:40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color:#fff;
  margin-left:30%;
  margin-top: 15%;
}
input{
  width: 100%;
  height:30px;
  margin-top: 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 20px;
}
button{
  width:70px;
  height:20px;
  margin-top: 20px;
  margin-left: 13rem;
  background-color: rgb(216, 162, 13);
  color:blue;
  border: none;
}
